.bgimage{
	background: url(images/typing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.play
{
	    padding-top: 300px;
}

.container {
  width: 100%;
  padding-right: 15px;
  }

  #projects{
     background-color: #f8f9fa!important;
    }
.main
{
  height:70px;
   width:150px;
}